* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

/* utils */

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* body */

body {
  background-color: lightgray;
}

/* header */

header {
  background-color: white;
  text-align: center;
  padding: 1rem;
  color: darkgoldenrod;
}

h1 {
}

/* main */

/* card */

img {
  width: 100%;
}
