* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "monteserrat", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  /* text-decoration: none; */
  color: white;
}

ul {
  list-style-type: none;
}

/* utils */

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <wight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* body */

body {
  background-color: #f6f5f3;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */

header {
  background-color: white;
  text-align: center;
  padding: 1rem;
  color: #ff9614;
  position: sticky;
  top: 0px;
}

h1 {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

/* main */

/* title top */

.titletop * {
  padding-top: 8px;
  padding-bottom: 10px;
}

.titletop p {
  color: lightgrey;
  font-size: 0.8rem;
}

.parentesi {
  display: none;
}

/* card */

#video .card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 3px 17px 0px lightgray;
}

iframe {
  width: 100%;
}

.bottomcard {
  padding: 1.5rem;
}

.bottomcard h4 {
  padding-bottom: 1.5rem;
}

.bottomcard li {
  padding-bottom: 1rem;
  font-size: 0.9rem;
}

.maiusc {
  font-weight: bold;
}

/* icon */

#icon .container {
  display: flex;
  justify-content: space-between;
}

#icon .card {
  background-color: white;
  border-radius: 20px;
  padding: 9px 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.8rem;

  box-shadow: 0px 3px 17px 0px lightgray;
}

.card.facebook {
  color: #1a77f3;
}
.card.twitter {
  color: #009eff;
}
.card.instagram {
  color: #de84b1;
}
.card.pinterest {
  color: #e62222;
}
.card.youtube {
  color: #e62222;
}

.icontext {
  color: black;
  font-weight: bold;
  display: none;
  padding-left: 5px;
}

/* banner */

#banner img {
  display: none;
  margin-bottom: 30px;
  width: 100%;
}

/* presentation */

#presentation h4 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.linietta {
  border: 1px solid #f7972e;
  width: 50px;
  margin: 10px 0px;
}

.footpresent img {
  width: 60%;
}
.fototiramisu {
  text-align: center;
}

.footpresent p {
  line-height: 2rem;
  padding-bottom: 50px;
}

/* foot */

footer {
  background-color: #7c69a4;
  color: white;
  font-size: 0.8rem;
  padding: 30px;
}

.footleft {
  text-align: center;
}
.footright {
  text-align: center;
}

.footright li {
  display: inline;
  padding: 10px 8px;
}

.footleft * {
  padding-bottom: 10px;
}
/* large mobile */

@media screen and (min-width: 576px) {
  /* icon */

  #icon .card {
    padding: 9px 40px;
  }

  /* presentation */
  .footpresent img {
    float: left;
    margin-right: 10px;
    width: 40%;
  }
}
/* tablet */

@media screen and (min-width: 768px) {
  main {
    padding: 0px 35px;
  }

  /* header */

  header {
    text-align: start;
  }

  h1 {
    font-size: 3rem;
  }
  /* header */
  /* body top */
  h2 {
    font-size: 2rem;
  }
  .parentesi {
    display: inline-block;
  }

  .titletop {
    font-size: 2rem;
  }

  /* card */

  .bottomcard ul {
    display: flex;
    flex-wrap: wrap;
  }

  .bottomcard li {
    width: 30%;
  }

  /* icon */

  #icon .card {
    padding: 9px 50px;
  }

  /* banner */

  #banner img {
    display: block;
  }

  /* presentation */

  .footpresent {
    padding-top: 10px;
  }

  .footpresent img {
    float: left;
    margin-right: 10px;
    width: 40%;
  }

  .footpresent p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 3rem;
  }

  .container .card {
    display: flex;
  }

  .card .topcard {
    width: 70%;
  }

  .bottomcard ul {
    display: block;
  }

  .bottomcard li {
    width: 100%;
  }

  /* icon */
  .icontext {
    color: black;
    font-weight: bold;
    display: block;
  }

  .footpresent img {
    width: 30%;
  }

  /* footer */

  footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
  }

  .footleft {
    text-align: start;
  }
  .footright {
    text-align: end;
    align-content: center;
  }

  .footright li {
    display: inline;
  }

  .footleft * {
    padding-bottom: 10px;
  }
}
